*.pyc
build
dist
motmot.wxvideo.egg-info/PKG-INFO
motmot.wxvideo.egg-info/SOURCES.txt
motmot.wxvideo.egg-info/dependency_links.txt
motmot.wxvideo.egg-info/namespace_packages.txt
motmot.wxvideo.egg-info/top_level.txt
